alias deploy_all="/srv/minidc/venv-python3/bin/ansible-playbook -i {{ minidc_working_directory }}/inventory.yml /srv/minidc/playbooks/setup-everything.yml"
alias deploy_localhost='/srv/minidc/venv-python3/bin/ansible-playbook -i {{ minidc_working_directory }}/inventory.yml /srv/minidc/playbooks/setup-localhost.yml'
alias deploy_build_containers='/srv/minidc/venv-python3/bin/ansible-playbook -i {{ minidc_working_directory }}/inventory.yml /srv/minidc/playbooks/setup-build_containers.yml'
alias deploy_containers='/srv/minidc/venv-python3/bin/ansible-playbook -i {{ minidc_working_directory }}/inventory.yml /srv/minidc/playbooks/setup-containers.yml'
alias deploy_ca='/srv/minidc/venv-python3/bin/ansible-playbook -i {{ minidc_working_directory }}/inventory.yml /srv/minidc/playbooks/setup-ca.yml'
alias deploy_dns='/srv/minidc/venv-python3/bin/ansible-playbook -i {{ minidc_working_directory }}/inventory.yml /srv/minidc/playbooks/setup-dns.yml'
alias deploy_dhcp='/srv/minidc/venv-python3/bin/ansible-playbook -i {{ minidc_working_directory }}/inventory.yml /srv/minidc/playbooks/setup-dhcp.yml'
alias deploy_rvprx='/srv/minidc/venv-python3/bin/ansible-playbook -i {{ minidc_working_directory }}/inventory.yml /srv/minidc/playbooks/setup-rvprx.yml'
alias deploy_vpn='/srv/minidc/venv-python3/bin/ansible-playbook -i {{ minidc_working_directory }}/inventory.yml /srv/minidc/playbooks/setup-vpn.yml'
alias deploy_ldap='/srv/minidc/venv-python3/bin/ansible-playbook -i {{ minidc_working_directory }}/inventory.yml /srv/minidc/playbooks/setup-ldap.yml'
alias deploy_lam='/srv/minidc/venv-python3/bin/ansible-playbook -i {{ minidc_working_directory }}/inventory.yml /srv/minidc/playbooks/setup-lam.yml'
alias deploy_cyrus='/srv/minidc/venv-python3/bin/ansible-playbook -i {{ minidc_working_directory }}/inventory.yml /srv/minidc/playbooks/setup-cyrus.yml'
alias deploy_smtp='/srv/minidc/venv-python3/bin/ansible-playbook -i {{ minidc_working_directory }}/inventory.yml /srv/minidc/playbooks/setup-smtp.yml'
alias deploy_plex='/srv/minidc/venv-python3/bin/ansible-playbook -i {{ minidc_working_directory }}/inventory.yml /srv/minidc/playbooks/setup-plex.yml'
alias deploy_sogo='/srv/minidc/venv-python3/bin/ansible-playbook -i {{ minidc_working_directory }}/inventory.yml /srv/minidc/playbooks/setup-sogo.yml'
alias deploy_mariadb='/srv/minidc/venv-python3/bin/ansible-playbook -i {{ minidc_working_directory }}/inventory.yml /srv/minidc/playbooks/setup-mariadb.yml'
alias deploy_nextcloud='/srv/minidc/venv-python3/bin/ansible-playbook -i {{ minidc_working_directory }}/inventory.yml /srv/minidc/playbooks/setup-nextcloud.yml'
alias deploy_onlyoffice='/srv/minidc/venv-python3/bin/ansible-playbook -i {{ minidc_working_directory }}/inventory.yml /srv/minidc/playbooks/setup-onlyoffice.yml'


alias lxcls='lxc list -c n4sNc,limits.cpu,limits.memory,boot.autostart,image.serial'
