alias deploy_all="/opt/minidc/python-venv/bin/ansible-playbook -i {{ minidc_working_directory }}/inventory.yml /opt/minidc/playbooks/setup-everything.yml"
alias deploy_localhost='/opt/minidc/python-venv/bin/ansible-playbook -i {{ minidc_working_directory }}/inventory.yml /opt/minidc/playbooks/setup-localhost.yml'
alias deploy_build_containers='/opt/minidc/python-venv/bin/ansible-playbook -i {{ minidc_working_directory }}/inventory.yml /opt/minidc/playbooks/setup-build_containers.yml'
alias deploy_containers='/opt/minidc/python-venv/bin/ansible-playbook -i {{ minidc_working_directory }}/inventory.yml /opt/minidc/playbooks/setup-containers.yml'
alias deploy_ca='/opt/minidc/python-venv/bin/ansible-playbook -i {{ minidc_working_directory }}/inventory.yml /opt/minidc/playbooks/setup-ca.yml'
alias deploy_dns='/opt/minidc/python-venv/bin/ansible-playbook -i {{ minidc_working_directory }}/inventory.yml /opt/minidc/playbooks/setup-dns.yml'
alias deploy_dhcp='/opt/minidc/python-venv/bin/ansible-playbook -i {{ minidc_working_directory }}/inventory.yml /opt/minidc/playbooks/setup-dhcp.yml'
alias deploy_rvprx='/opt/minidc/python-venv/bin/ansible-playbook -i {{ minidc_working_directory }}/inventory.yml /opt/minidc/playbooks/setup-rvprx.yml'
alias deploy_vpn='/opt/minidc/python-venv/bin/ansible-playbook -i {{ minidc_working_directory }}/inventory.yml /opt/minidc/playbooks/setup-vpn.yml'
alias deploy_ldap='/opt/minidc/python-venv/bin/ansible-playbook -i {{ minidc_working_directory }}/inventory.yml /opt/minidc/playbooks/setup-ldap.yml'
alias deploy_lam='/opt/minidc/python-venv/bin/ansible-playbook -i {{ minidc_working_directory }}/inventory.yml /opt/minidc/playbooks/setup-lam.yml'
alias deploy_cyrus='/opt/minidc/python-venv/bin/ansible-playbook -i {{ minidc_working_directory }}/inventory.yml /opt/minidc/playbooks/setup-cyrus.yml'
alias deploy_smtp='/opt/minidc/python-venv/bin/ansible-playbook -i {{ minidc_working_directory }}/inventory.yml /opt/minidc/playbooks/setup-smtp.yml'
alias deploy_plex='/opt/minidc/python-venv/bin/ansible-playbook -i {{ minidc_working_directory }}/inventory.yml /opt/minidc/playbooks/setup-plex.yml'
alias deploy_sogo='/opt/minidc/python-venv/bin/ansible-playbook -i {{ minidc_working_directory }}/inventory.yml /opt/minidc/playbooks/setup-sogo.yml'
alias deploy_mariadb='/opt/minidc/python-venv/bin/ansible-playbook -i {{ minidc_working_directory }}/inventory.yml /opt/minidc/playbooks/setup-mariadb.yml'


alias lxcls='lxc list -c n4sNc,limits.cpu,limits.memory,boot.autostart,image.serial'
