{% for forward_zone in dns_master_zones.forward %}
zone "{{ forward_zone.name }}." IN {
    type master;
    file "/var/lib/bind/db.{{ forward_zone.name }}";
    allow-update { !{ !dns_admin; any; }; key "{{ dns_tsig_key_name }}"; };
    allow-transfer { !{ !dns_admin; any; }; key "{{ dns_tsig_key_name }}"; };
};

{% endfor %}
{% for reverse_zone in dns_master_ptr_zones %}
zone "{{ reverse_zone.ptr_zone }}" IN {
    type master;
    file "/var/lib/bind/db.{{ reverse_zone.ptr_zone | regex_replace('.in-addr.arpa.', '') }}";
    allow-update { !{ !dns_admin; any; }; key "{{ dns_tsig_key_name }}"; };
    allow-transfer { !{ !dns_admin; any; }; key "{{ dns_tsig_key_name }}"; };
};

{% endfor %}
