{% for interface, params in network.ethernets.items() %}
{% if network.ethernets[interface].routes is defined %}
{% for route in network.ethernets[interface].routes %}
{% if route.to == '0.0.0.0/0' %}
{% for ip_address in network.ethernets[interface].nameservers.addresses %}
nameserver {{ ip_address }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
