server {
    client_max_body_size 1024M;
    listen               {{ sslh_ssl_redirect_port }} ssl http2;
    server_name          {{ item.server_name }};

    location /.well-known {
        alias /var/www/{{ item.server_name }}/.well-known/;
    }

{% if item.proxy_pass is defined %}
    location / {
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $remote_addr;
        proxy_set_header Host $host;
        proxy_buffering off;
        proxy_pass {{ item.proxy_pass }};
    }
{% else %}
    location / {
        deny all;
    }
{% endif %}
}
