$ORIGIN .
$TTL    86400                          ; 1 day
{{ item.name }}    IN  SOA {{ item.ns_a_record }}. {{ item.ns_contact }} (
                                1       ; serial
                                14400   ; refresh
                                3600    ; retry
                                604800  ; expire
                                86400 ) ; cache TTL

                        NS      {{ item.ns_a_record }}.

$ORIGIN {{ item.name }}.

dns                 IN  A       {{ item.ns_ip }} 
