$ORIGIN .
$TTL 86400  ; 1 day
{{ item.value }}    IN SOA  dns.{{ item.key }}. admin.{{ item.key }}. (
                1          ; serial
                14400      ; refresh (4 hours)
                3600       ; retry (1 hour)
                604800     ; expire (1 week)
                86400      ; minimum (1 day)
                )
            NS  dns.{{ item.key }}.
            TXT "DNS server for reverse zone {{ item.value }}"
$ORIGIN {{ item.value }}
