{% for zone, cidr_network in dns_master_zones.items() %}
zone "{{ zone }}." IN {
    type master;
    file "/var/lib/bind/db.{{ zone }}";
    allow-update { !{ !dns_admin; any; }; key "{{ dns_tsig_key_name }}"; };
    allow-transfer { !{ !dns_admin; any; }; key "{{ dns_tsig_key_name }}"; };
};

zone "{{ dns_master_ptr_zones[zone] }}" IN {
    type master;
    file "/var/lib/bind/db.{{ dns_master_ptr_zones[zone] | regex_replace('.in-addr.arpa.', '') }}";
    allow-update { !{ !dns_admin; any; }; key "{{ dns_tsig_key_name }}"; };
    allow-transfer { !{ !dns_admin; any; }; key "{{ dns_tsig_key_name }}"; };
};

{% endfor %}
