$ORIGIN .
$TTL    86400                          ; 1 day
{{ item.value }}    IN  SOA dns.{{ item.key }}. admin.{{ item.key }}. (
                                1       ; serial
                                14400   ; refresh
                                3600    ; retry
                                604800  ; expire
                                86400 ) ; cache TTL

                        NS      dns.{{ item.key }}.
                        TXT     "DNS server for zone {{ item.value }}"

$ORIGIN {{ item.value }} 
